

        <!-- <div>
          <p class="font-bold mb-4 text-gray-900">Construcción:</p>
          <ul class="text-base">
            {doorSpecs.map(spec => (
              <li class="flex items-start gap-2.5 max-w-prose mb-3">
              <i class="ph-fill ph-check-circle text-lg text-primary-500"></i>
              {spec}
            </li>
            ))}              
          </ul>
        </div>       -->
        
        <!-- <ul class="flex flex-wrap items-center justify-between px-8">
          <li class="me-2"><img src={ansi.src} alt="logo certificación ansi" class="w-14 h-auto"></li>
          <li class="me-2"><img src={fmApproved.src} alt="logo certificación fm-approved" class="w-14 h-auto"></li>
          <li class="me-2"><img src={greenBuilding.src} alt="logo certificación green-building" class="w-10 h-auto"></li>
          <li class="me-2"><img src={naamm.src} alt="logo certificación NAAMM" class="w-14 h-auto"></li>
          <li class="me-2"><img src={nfpa.src} alt="logo certificación NFPA" class="w-8 h-auto"></li>
          <li class="me-2"><img src={shield.src} alt="logo seguridad" class="w-8 h-auto"></li>
          <li class="me-2"><img src={soundProof.src} alt="logo acústico" class="w-8 h-auto"></li>
          <li><img src={ul.src} alt="logo UL" class="w-8 h-auto"></li>
        </ul>         -->



<!-- Certificaciones -->
<!-- <div class="tab-content even-columns gap-12 md:20">
  <div class="space-y-8">
    <div>
      <h3 class="text-2xl sm:text-3xl font-semibold  text-gray-900 leading-tight mb-4">Puertas Especiales</h3>
      <p class=" text-lg">Estas puertas de acero se fabrican con características especiales adaptadas a necesidades específicas, utilizando lámina de acero rolado en frío o acero galvanizado según la especificación</p>
    </div> 
    <div>          
      <ul class="text-base">
        {especialesSpecs.map(spec => (
          <li class="flex items-start gap-2.5 max-w-prose mb-3">
          <i class="ph-fill ph-check-circle text-lg text-primary-500"></i>
          {spec}
        </li>
        ))}              
      </ul>
    </div>           
    
    
    <ul class="flex flex-wrap items-center justify-between px-8">
      <li class="me-2"><img src={ansi.src} alt="logo certificación ansi" class="w-14 h-auto"></li>
      <li class="me-2"><img src={fmApproved.src} alt="logo certificación fm-approved" class="w-14 h-auto"></li>
      <li class="me-2"><img src={greenBuilding.src} alt="logo certificación green-building" class="w-10 h-auto"></li>
      <li class="me-2"><img src={naamm.src} alt="logo certificación NAAMM" class="w-14 h-auto"></li>
      <li class="me-2"><img src={nfpa.src} alt="logo certificación NFPA" class="w-8 h-auto"></li>
      <li class="me-2"><img src={shield.src} alt="logo seguridad" class="w-8 h-auto"></li>
      <li class="me-2"><img src={soundProof.src} alt="logo acústico" class="w-8 h-auto"></li>
      <li><img src={ul.src} alt="logo UL" class="w-8 h-auto"></li>
    </ul>        
  </div>
  <div></div>
</div>   -->





<!-- <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 sm:gap-y-10 lg:gap-x-8">
  {specsEspeciales.map((spec => (
    <div class="border-t border-gray-200 pt-4">
    <h4 class="text-base font-medium text-slate-900">
      {spec.title}
    </h4>
    <p class="mt-2 text-sm">
      {spec.description}
    </p>
  </div>
  )))}
</div>  -->