---
import { Image } from "astro:assets";
import ProductCard from "./ProductCard.astro";

const { cardsContent, swiperNum} = Astro.props
---


<div class:list={`swiper ${swiperNum}`}>
  <div class="swiper-wrapper">      
        {
          cardsContent.map((card) => (
            <ProductCard title={card.title} body={card.body}>
              <Image src={card.img} alt={card.alt}/>             
            </ProductCard>
          ))
         }                     
  </div>
    
  <!-- If we need navigation buttons -->    
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>  
</div>


<style>
  .swiper{
    padding-block: 80px; 
  }
 
  
:is(.swiper-button-next, .swiper-button-prev){
  --swiper-navigation-top-offset: 47%; 
  --swiper-navigation-sides-offset: 8%;
  display: flex; 
  align-items: center; 
  justify-content: center;  
  border: none; 
  background: rgb(12, 59, 143, 0.6); 
  color: rgba(255,255,255,0.8); 
  border-radius: 50%; 
  height: 40px;
  width: 40px; 
  cursor: pointer;
  padding: 16px;    
}

:is(.swiper-button-next, .swiper-button-prev):hover{
  background: hsl(219, 84%, 24%, 0.8); 
  color: rgba(255,255,255);     
  transition: background;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)  
}

.swiper-button-prev:after, .swiper-button-next:after{
  font-size: 16px; 
  font-weight: 700; 
}

.swiper-pagination {
    --swiper-theme-color: rgb(12, 59, 143);
    --swiper-pagination-bullet-inactive-color: rgb(109, 137, 188); 
    --swiper-pagination-bottom: 48px;        
  }

</style>


<script>
  import '../js/swiper.js'
</script>