---
import Heading from "./Heading.astro";
import Card from "./Card.astro";
const heading = { tagline: 'Servicios', headingText: 'Tu proyecto en mano de expertos',descriptionText: 'Creamos una experiencia que te ayudará en cada iteracción del proceso para que puedas dormir tranquilo'}

const featuresData = [
  {icon: 'clipboard', title: 'Especificaciones', body: 'Desde la selección de materiales hasta las especificaciones de diseño, garantizamos una solución a la medida'},  
  {icon: 'truck', title: 'Suministro', body: 'La entrega puntual y segura es nuestro compromiso. Garantizamos un transporte eficiente y sin problemas hasta sus instalaciones'},   
  {icon: 'hammer', title: 'Instalación', body: 'Nuestros equipos de instaladores cuentan con una gran experiencia. Nos encargamos de todo el proceso con una atención al detalle'}, 
  {icon: 'paint-bucket', title: 'Pintura', body: 'Solicite sus puertas y marcos en el color de su elección. Contamos con aplicación de pintura electrostática y proceso horneado'}]
---


<section class="bg-gray-50">  
  <div class="container py-16 sm:py-28">
    <div class="max-w-2xl mb-8 lg:mb-16 mx-auto text-center">
      <Heading tagline={heading.tagline} headingText={heading.headingText} descriptionText={heading.descriptionText} />
    </div>
    <div class="even-columns gap-12">
      {featuresData.map(feature => (
        <Card>
        <div>
          <div class="flex justify-center items-center mx-auto mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12">
            <i class={`ph-fill ph-${feature.icon} text-xl sm:text-2xl text-primary-600`}></i>   
          </div>          
          <h3 class="text-xl font-bold mb-2 text-gray-900">{feature.title}</h3>
          <p>{feature.body}</p> 
        </div>              
        </Card>
      ))}  
    </div>   
   
  </div>
</section>



