---
// import {Icon} from 'astro-icon'; 
import Heading from "./Heading.astro";
import Card from "./Card.astro";

const heading = { tagline: 'Servicios', title: 'Puertas que Transforman Espacios',description: 'Ofrecemos servicios diseñados específicamente para cumplir con los requisitos únicos de tu proyecto'}

const features = [
  {
    icon: 'pencil', 
    title: 'Especificaciones', 
    body: 'Desde la selección de materiales hasta especificación del diseño, ofrecemos soluciones a la medida'},  
  {
    icon: 'truck', 
    title: 'Suministro', 
    body: 'Entrega puntual y segura, garantizando un transporte eficiente hasta sus instalaciones'},   
  {
    icon: 'hammer', 
    title: 'Instalación', 
    body: 'Instalación profesional realizada con atención al detalle por nuestro equipo de expertos'}, 
  {
    icon: 'paint-bucket', 
    title: 'Pintura', 
    body: 'Solicite puertas y marcos en el color que prefiera, con nuestro servicio de pintura electrostática y horneado'}
  ]
---


<section id="servicios" class="section-padding bg-gray-25 relative isolate">
  <!-- <div class="pattern-grid-xl absolute inset-0 w-full h-full text-gray-100/40 -z-10"></div>   -->
  <div class="container">
    <div>      
      <Heading tagline={heading.tagline} title={heading.title} description={heading.description} align="center" taglineColor="secondary-500" titleColor="gray-950"/>    
      <div class="even-columns text-center gap-x-8 gap-y-8">
        {features.map(feature => (
          <Card>
          <div>
            <div class="flex justify-center items-center mx-auto w-10 h-10 md:w-12 md:h-12 rounded-[10px] bg-primary-500 shadow-sm">
              <i class={`ph ph-${feature.icon} text-2xl text-primary-50`}></i>   
            </div>          
            <h3 class="mt-6 text-xl font-semibold text-primary-500">{feature.title}</h3>
            <p class="mt-2 text-base">{feature.body}</p> 
          </div>              
          </Card>
        ))}  
      </div>      

    </div>
    
  </div>
</section>



