---
interface Props {
  tagline? : string; 
  title: string; 
  description?: string; 
  align: string; 
  taglineColor?: string; 
  titleColor?: string; 
}

const {align = "center",   tagline, title, description, titleColor, taglineColor } = Astro.props;
---

<div class:list={["mb-10 lg:mb-20 flex flex-col justify-center items-center", align === "center" && "text-center"]}>
  <span class=`inline-block text-sm lg:text-base font-semibold mb-4 text-${taglineColor}`>{tagline}</span>
  <h2 class=`text-4xl sm:text-5xl tracking-tight leading-tight font-extrabold text-${titleColor} mb-6 max-w-2xl`>{title}</h2>
  <p class="text-lg font-light max-w-[28em]">{description}</p>        
</div>