---
import Link from './Link.astro';
import logo from '../assets/logo-white.svg'
import { Astronav, MenuItems, MenuIcon} from "astro-navbar";


const menuItems = [
    {
        title: "Nosotros", 
        path: "/#nosotros"
    }, 
    {
        title: "Servicios", 
        path: "/#servicios"
    }, 
    {
        title: "Productos", 
        path: "/#productos"
    },
    {
        title: "Proyectos", 
        path: "/#proyectos"
    }
]
---

<header id="navbar" class="fixed top-0 w-full h-16 lg:h-20 z-[100] bg-gray-900" >          
        <!--NavBar lg+-->
        <nav class="container flex items-center justify-between h-16 lg:h-20">
            <!-- Home Link -->            
            <a href="/" class="flex items-center">
                <img src={logo.src} class="inline-flex w-auto h-12 lg:h-14" alt="Logo Imagen y Espacios" />              
            </a> 
            
                       
            <!-- Navbar Menu -->
            <div class="hidden lg:block" aria-label="main-navigation">
                <ul id="navbar-items" class="lg:flex lg:items-center font-medium text-sm lg:space-x-8">
                    {
                        menuItems.map((item) => (
                                <li>
                                    <a href={item.path} class="block py-2 pl-3 pr-4 md:p-0 items-center text-gray-400 transform-acolors duration-200 ease-in-out hover:text-white">{item.title}</a>
                                </li>
                            ))
                    }
                </ul>
            </div> 
            <!--NavBar sm to lg-->
            <div id="navbar-menu"  class="lg:hidden fixed bg-white top-0 -right-full w-full h-full transform-all duration-300">
                    <ul id="navbar-links" class="flex flex-col text-center gap-y-6 pt-36 max-w-sm">
                        {
                            menuItems.map((item) => (
                                    <li>                                    
                                        <a href={item.path} class="navbar-link | inline-flex text-base font-medium  text-gray-950 transition-all duration-300 hover:text-gray-500">{item.title}</a>
                                    </li>
                                ))
                        }
                        <li class="py-2">                                    
                         <Link href="#contacto" size="lg" class="navbar-link">Contacto</Link>                       
                        </li>
                    </ul>
                   
                </div>            
            </div>
            
            <!--Contact-->
            <div class="hidden lg:flex items-center gap-4">              
                <Link href="#contacto" size="md" block>Contacto</Link>          
            </div>
            <!-- Navbar-toggle -->
            <button id="navbar-toggle" type="button" aria-controls="navbar-menu" aria-label="Abrir Menú" aria-expanded="false" class="        pointer bg-transparent w-10 h-10 flex items-center justify-center flex-col transition-all duration-200 lg:hidden focus:bg-gray-800 hover:bg-gray-800">               
                <span class="icon-bar | block w-6 h-[3px] m-[2px] rounded-sm bg-gray-400"></span>
                <span class="icon-bar | block w-6 h-[3px] m-[2px] rounded-sm bg-gray-400"></span>
                <span class="icon-bar | block w-6 h-[3px] m-[2px] rounded-sm bg-gray-400"></span>
            </button>  
        </nav>
        
            
        <!-- <div id="drawer-backdrop" class="hidden bg-gray-900 bg-opacity-80 fixed inset-0 z-30 h-screen"></div>        -->
       
        
        <!--NavBar sm to lg-->
        <!-- <nav  class=" lg:hidden container">
            <div id="navbar-menu" class="fixed left-0 top-0 z-40 w-64 h-screen transition-transform -translate-x-full" aria-label="main-navigation">
                <ul id="navbar-links" class="absolute overflow-hidden left-0 right-0 flex flex-col items-center p-6 m-4 rounded-lg transition-all duration-200 ease-in-out shadow-2xl">
                    {
                        menuItems.map((item) => (
                                <li>                                    
                                    <a href={item.path} class="inline-flex text-sm p-[1em] font-medium  text-gray-950 transition-all duration-200 hover:text-gray-500">{item.title}</a>
                                </li>
                            ))
                    }
                    <li class="py-2">                                    
                     <Link href="#contacto" size="md" block>Contacto</Link>                       
                    </li>
                </ul> 
            </div>

        </nav> -->
</header>

<style>
    #navbar-toggle[aria-expanded='true'] .icon-bar:is(:first-child, :last-child) {
        position: absolute;
        margin: 0;
        width: 30px;
    }

    #navbar-toggle[aria-expanded='true'] .icon-bar:first-child {
        transform: rotate(45deg);
    }

    #navbar-toggle[aria-expanded='true'] .icon-bar:nth-child(2) {
        opacity: 0;
    }

    #navbar-toggle[aria-expanded='true'] .icon-bar:last-child {
        transform: rotate(-45deg);
    }

    #navbar-menu{
        opacity: 0; 
        visibility: hidden;        
    }

    #navbar-menu[open]{       
        opacity: 1; 
        visibility: visible;
        right: 0;         
    }

    .sticky {
        position: fixed; 
    }

   </style>

<script>
    const navbar = document.getElementById('navbar')
    const navbarMenu = document.getElementById('navbar-menu');
    const navbarToggle = document.getElementById('navbar-toggle');  
    const navbarLink = navbarMenu.querySelectorAll('.navbar-link')
    

    const toggleMenu = () => {       
        navbarMenu.toggleAttribute('open');
        const visibility = navbarToggle.getAttribute('aria-expanded')        
        if(visibility === 'false'){
            navbarToggle.setAttribute('aria-expanded', 'true')            
        } else if(visibility === 'true'){
            navbarToggle.setAttribute('aria-expanded', 'false')           
        
       };
    }  
    
    navbarToggle.addEventListener('click', toggleMenu);
    navbarLink.forEach((navLink) =>  navLink.addEventListener('click', toggleMenu))     
</script>

