---
interface Props {
  tagline? : string; 
  title: string; 
  description?: string; 
  align: string; 
  taglineColor?: string; 
  titleColor?: string; 
}

const {align = "center", tagline, title, description, titleColor, taglineColor } = Astro.props;
---

<div class:list={["mb-8 lg:mb-16 max-w-3xl", align === "center" && "text-center"]}>
  <span class=`inline-block text-sm lg:text-base font-semibold mb-2 text-${taglineColor}`>{tagline}</span>
  <h2 class=`text-3xl sm:text-4xl tracking-tight leading-tight font-extrabold text-${titleColor} mb-4`>{title}</h2>
  <p class="sm:text-xl font-light max-w-[34em]">{description}</p>        
</div>