---
import { Image } from "astro:assets";
import Carrousel from "./Carrousel.astro"; 
import brembo from '../assets/brembo.png'
import sungwoo from '../assets/sungwoo.png'
import lego from '../assets/lego.png'
import whirlpool from '../assets/whirlpool.png'
import imss from '../assets/imss.png'
import ronal from '../assets/ronal-sanluis.png'
import magna from '../assets/magna-sanluis.png'
import barcel from '../assets/barcel.png'
import caterpillar from '../assets/caterpillar.png'

import Heading from "./Heading.astro";
import BlogCard from "./BlogCard.astro";


const heading = { tagline: 'Proyectos', title: 'Conoce Nuestros Casos de Éxito', description: 'Descubre algunos de nuestros proyectos más recientes y destacados'}

const projectsData = [
  { 
    img: brembo,
    altText: 'Planta de empresa Brembo',  
    title: 'Planta Brembo Mizar', 
    description: 'Escobedo, N.L.'
  }, 
  { 
    img: sungwoo,
    altText: 'Planta Sungwoo Hitech', 
    title: 'Planta Sungwoo Hitech', 
    description: 'Pesquería, N.L.'
  }, 
  { 
    img: lego,
    altText: 'Lego Operaciones de México', 
    title: 'Lego Operaciones de México', 
    description: 'Ciénega de Flores, N.L.'
  },
  { 
    img: barcel,
    altText: 'Planta Barcel Escobedo Nuevo León', 
    title: 'Planta Bimbo Barcel', 
    description: 'Escobedo, N.L.'
  },
  { 
    img: whirlpool,
    altText: 'Planta Whirlpool', 
    title: 'Planta Whirlpool', 
    description: 'Apodaca, N.L.'
  },
  { 
    img: imss,
    altText: 'Hospital General de Zona IMSS Reynosa', 
    title: 'IMSS Hospital General de Zona', 
    description: 'Reynosa, Tamps.'
  },
  { 
    img: ronal,
    altText: 'Ronal planta San Luis', 
    title: 'Planta Ronal', 
    description: 'San Luis Potosí, S.L.P.'
  },
  { 
    img: magna,
    altText: 'Magna planta San Luis', 
    title: 'Planta Magna', 
    description: 'San Luis Potosí, S.L.P.'
  },
  { 
    img: caterpillar,
    altText: 'Planta Caterpillar', 
    title: 'Planta Caterpillar', 
    description: 'Ciénega de Flores, N.L.'
  },

  ];
---

<section id="proyectos" class="section-padding bg-gray-50 relative isolate">   
  <div class="container">   
    <Heading tagline={heading.tagline} title={heading.title} description={heading.description} align="center" taglineColor="secondary-500" titleColor="gray-900"/>         
    <div class="flex gap-x-8">          
        <Carrousel>         
          {
          projectsData.map((project) => (
            <BlogCard title={project.title} description={project.description} class="swiper-slide">
              <Image src={project.img} alt={project.altText} class="w-full h-auto object-cover aspect-[3/2] rounded-lg shadow-sm bg-gray-100 ring-1 ring-gray-900/10" />                   
            </BlogCard>
          ))}
          </Carrousel>    
      </div>     
    </div>
    <div class="text-center">
      
    </div>    
  </div>
</section>


<style>
.carrousel-fade:after, .carrousel-fade:before {
  content: ""; 
  position: absolute; 
  top: 0; 
  bottom: 0; 
  width: 28px; 
  pointer-events: none; 
  z-index: 10; 
}
   
.carrousel-fade:after {
  right: 0; 
} 
</style>

 
