---
import Heading from "./Heading.astro";
import Card from "./Card.astro";
const heading = { tagline: 'Servicios', headingText: 'Tu proyecto en mano de expertos',descriptionText: 'Creamos una experiencia que te ayudará en cada iteracción del proceso para que puedas dormir tranquilo'}

const featuresData = [
  {icon: 'clipboard', title: 'Especificaciones', body: 'Desde la selección de materiales hasta las especificaciones de diseño, garantizamos una solución a la medida'},  
  {icon: 'truck', title: 'Suministro', body: 'La entrega puntual y segura es nuestro compromiso. Garantizamos un transporte eficiente y sin problemas hasta sus instalaciones'},   
  {icon: 'hammer', title: 'Instalación', body: 'Nuestros equipos de instaladores cuentan con una gran experiencia. Nos encargamos de todo el proceso con una atención al detalle'}, 
  {icon: 'paint-bucket', title: 'Pintura', body: 'Solicite sus puertas y marcos en el color de su elección. Contamos con aplicación de pintura electrostática y proceso horneado'}]
---


<section class="py-32">  
  <div class="container">
    <div class="mx-auto max-w-2xl text-center mb-20">
      <Heading tagline={heading.tagline} headingText={heading.headingText} descriptionText={heading.descriptionText} />
    </div>
    <div class="even-columns gap-8">
      {featuresData.map(feature => (
        <Card>
          <i class={`ph ph-${feature.icon} inline-block text-[32px] rounded-full p-4 text-primary-600 bg-primary-50 mb-5`}></i>   
          <h3 class="text-xl font-semibold mb-2 text-gray-900">{feature.title}</h3>
          <p class="text-base">{feature.body}</p>      
        </Card>
      ))}  
    </div>   
   
  </div>
</section>

